PORT=3001
FRONTEND_URL=https://loversapp.donydonitasss.com
JWT_SECRET=genera_uno_con_openssl_rand_base64_32
JWT_EXPIRES_IN=30d
DB_PATH=./database/loversapp.db
ADMIN_SECRET=elige_una_contraseña_segura

# Email Hostinger
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=loversapp@donydonitasss.com
EMAIL_PASS=contraseña_del_correo_en_hostinger
